@import "tailwindcss";

@font-face {
  font-family: "Corporate A Pro";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/CorporateA-Pro-Regular.ttf") format("ttf");
}

@theme {
  --font-mono: "Xanh Mono", ui-mono, system-ui, mono;
  --font-serif: "Corporate A Pro";

  --color-accent: #1ce4d0;
  --color-tertiary: #f8c3ff;
}
